.header {
  height: 100px;
  background-color: #ff7675;
}

.main {
  height: 1000px;
  background-color: #00b894;
}
.main .home {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #eb2f06;
  color: white;
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.footer {
  height: 150px;
  background-color: #0984e3;
}